 .dashboard-header {
  position: relative;
  background: #b02727;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

 .dashboard-header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #b02727;
}

 .dashboard-header .header-buttons {
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center; 

}

.dashboard-header .header-buttons button {
  background: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.dashboard-header .header-buttons button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.dashboard-header .header-buttons button:hover {
  transform: scale(1.1);
}

.header-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 0.95rem;
  color: #555;
}

.header-details .score {
  font-weight: 600;
  color: #007b5e;
}
